body{
  background-color: #232323;
  font-family: 'Kaushan Script', cursive;
  font-size: 1em;
  font-style: italic;
}
.contenedor{
  width: 80%;
  margin: auto;
  display: flex;
  flex-flow: column ;
  animation: inicio 1.5s;
}
#menu div a:active{
    animation: inicio 1.5s;
}
.cabecera{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color:#5b7989;
  padding: 5px;
  box-sizing: border-box;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: baseline;
}
header h1{
  color: white;
  text-shadow: 2px 2px #02010a;
}
#menu{
  display: flex;
  flex-flow:row;
}
.elemento{
  border-radius: 20px;
  margin: 10px;
  padding: 10px;
}
.elemento a{
  font-size: 1.3em;
  color: white;
  text-decoration: none;
}
.elemento:hover{
  background-color: #4c6472;
}
section{
  background-color:  #d5c75f;
  padding-top: 30px;
  }
.galerias{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.galerias img{
  width: 30%;
  margin-bottom: 30px;
}
.uno{
  -webkit-filter:blur(10px);
}
.tres{
  -webkit-filter:sepia(90%);
}
.galerias img:nth-child(even) {
-webkit-filter:grayscale(100%);
}
@-webkit-keyframes inicio{
10%{
  margin-top: 150%
}
90%{
  margin-top: -5%
}
100%{
  margin-top: 0%
}}
footer{
  background-color:  #C6d5c5;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 10px;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  box-sizing: border-box;
}
.pie div{
  width: 20%;
  text-align: center;
}
@media (max-width:720px){
.contenedor{
  width: 98%;
}
.cabecera{
  display: flex;
  flex-flow: column;
  align-items: center;
}
header h1{
  text-align: center;
  margin: auto;
}
footer{
  display: flex;
  flex-flow: column;
}
.pie div{
  width: 80%;
  text-align: left;
}
.galerias{
  display: flex;
  flex-flow: column;
  justify-content: center;
}
.galerias img{
  width: 90%;
  margin: auto;
  margin-bottom: 30px;
}
